.AlertCard{
    margin-left: 20px;
    margin-top:20px;
    margin-bottom: 0px;
}
.AlertCardTitle{
    margin:10px;

}

.AlertCardText{
    margin-left: 10px;
}

.TextContainer{
    display:flex;
}

.DropDownCard{
    margin-left: 40px;
    border-radius: 0px 0 10px 10px;
    border-width: 2px;
    background-color: lightgray;
}
