.dateSelectionContainer {
    display: flex;
    flex-direction: row;
    background-color: #ba4618;
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
    justify-content: space-around;
}

.dateSelectionButton {
    flex: 1;
    padding: 10px;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.middleButton {
    border-color: white;
    border-left: 2px solid white;
    border-right: 2px solid white;
}
