.patient-card-setManualTriggersButton-container{
    display: flex;
}

.patient-card-setManualTriggersButton {
    border-color: black;
    border-width: 2px;
    border-radius: 10px;
    background-color: white;
    width: 100%;
    margin-bottom: 5px;
}

.ManualTriggerModal-InputBox {
    border-radius: 5px;
    border-width: 1px;
    width: 80px;
}

.ManualTriggerModal-Label {
    justify-content: space-between;
    display: flex;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 5px;
}

.ManualTriggerModal-VitalGroup {
    margin-bottom: 10px;
}

.ManualTriggerModal-Header {
    background-color: #fbdea6;
}

.ManualTriggerModal-Body {
    background-color: #FFF8DC;
}

.ManualTriggerModal-Footer {
    background-color: #FFF8DC !important;
    padding-right: 30px !important;
}
