.note-container{
    display: flex;
    flex-direction: column;

}

.note-label-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.icon-button{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

