.main-container {
    display: flex;
    height: calc(100vh - 56px);
}

.sidebar {
    flex:1;
    background-color: #d88d63;
    padding: 10px;
    overflow-y: auto;
}

.filterButton {
    text-align: right;
    margin-bottom: 10px;
}

.main-content {
    flex: 4;
}

/*ChatGPT used to tell us we needed flex and justify content. We then further discovered space-between
worked better for our purposes to display buttons on same line.*/
.vitalsButtonList {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.charts-container {
    display: grid;
    gap: 20px;
    padding: 20px;
    grid-auto-rows: minmax(200px, auto);
    height: 92%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    overflow: scroll;
}

.date-selection-container {
    margin-bottom: 20px;
    height: 3%;

}

.vital-card-container {
    height: 500px;
}
