.sidebar {
    flex:1;
    background-color: #d88d63;
    padding: 10px;
    overflow-y: auto;
}

.filterButton {
    text-align: right;
    margin-bottom: 10px;
}


.main-container {
    display: flex;
    height: 100%;
}

.main-content {
    flex: 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

/*ChatGPT used to tell us we needed flex and justify content. We then further discovered space-between
worked better for our purposes to display buttons on same line.*/
.vitalsButtonList {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
