.container {
    flex: 1;
      
  }
  
  .tile {
    display: flex;
    align-items: center;
    background-color: #fbdea6;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
  }
  
  .name {
    margin-left: 10px;
  }
  
  .details {
    background-color: #FFF8DC;
    padding: 10px;
    border-bottom: 1px solid #DDD;
    margin-bottom: 10px;
    display: none;
  }
  
  .details.expanded {
    display: block;
  }
  
  .detailText {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .separator {
    border-bottom: 1px solid #000;
    margin: 10px 0;
  }
  
  .avatar {
    /* Style for avatar, possibly a circle with text inside */
  }
  